.images {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 300px;

  .outdoor {
    height: 200px;

    img {
      max-height: 100%;
      display: block;
      margin: 0 auto;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  .carousel {
    display: flex;
    justify-content: center;
    gap: 16px;

    img {
      height: 80px;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}

:host {
  color: black;
}
