app-detail {
  color: white;

  ngb-carousel {
    img {
      height: 250px;
      margin: 0 auto;
      display: block;
      border-radius: 10px;
    }

    .carousel-control-next,
    .carousel-control-prev {
      width: 50%;
    }
  }

  .text {
    margin-top: 26px;
  }
}
