<div class="container">
  <div class="row" *ngFor="let line of list$ | async">
    <div class="col"
         [class.col-12]="line.length === 1"
         [class.col-6]="line.length === 2"
         [class.col-3]="line.length === 4"
         *ngFor="let item of line" [routerLink]="[item.id]">
      <div class="card" [class.switch]="item.switch">
        <img [src]="item.img1" class="card-img-top img1" alt (swipeleft)="swipeImg(item)" (swiperight)="swipeImg(item)">
        <img [src]="item.img2" class="card-img-top img2" alt (swipeleft)="swipeImg(item)" (swiperight)="swipeImg(item)">
        <div class="card-body">
          <p class="card-text">{{ item.title }}</p>
          <div class="float">
            <span class="marker" [style.left]="item.float + '%'"></span>
            <span class="text">Float: {{ item.float / 100 }}</span>
          </div>
        </div>
        <div class="card-footer text-muted text-right" [ngbTooltip]="item.discount">
          <span class="old-price" *ngIf="item.oldPrice">{{ item.oldPrice | brl }}</span>
          <span class="current-price">{{ item.price | brl }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
